/* css styles */

/* 导入所需字体 */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Merriweather&family=Noto+Sans+TC&family=Noto+Serif+TC&family=Liu+Jian+Mao+Cao&display=swap');

/* 设置整体字体：英文字体优先，中文字体作为 fallback */
body {
  font-family:
    'Merriweather Sans',              /* 英文 */
    'Noto Sans TC',  /* 中文 */
    serif;
  font-size: 18px;
  text-align: justify;
  line-height: 1.6;
}

.calligraphy-quote {
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 1.5rem;
  line-height: 2;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: justify;
  height: 15em; /* 控制每列的“高度” */
  column-width: auto;
  column-count: auto;
  column-gap: 2em; /* 列之间的间距 */
  overflow-wrap: break-word;
  margin: 3em auto 0.5em auto;
  color: #333;
}

.quote-source {
  font-family: 'Noto Serif TC';
  font-size: 1rem;
  text-align: right;
  margin: 1em auto 2em auto;
  color: #666;
}

.quote-explanation{
  font-family: 'Merriweather';
  font-size: 0.75em;
  text-align: left;
  margin: 3em auto 3em auto;
  color: #666666;
}

.profile-pic {
  float: right;
  margin-left: 1.5em;
  width: 25%;
}

.profile-pic img {
  width: 100%;
  aspect-ratio: 1 / 1;   /* 保证正方形 */
  object-fit: cover;     /* 裁掉多余部分 */
  border-radius: 50%;    /* 圆形遮罩 */
}