/* css styles */

/* 导入所需字体 */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Merriweather&family=Noto+Sans+TC&family=Noto+Serif+TC&family=Liu+Jian+Mao+Cao&display=swap');

/* 设置整体字体：英文字体优先，中文字体作为 fallback */
body {
  font-family:
    'Noto Sans',  /* 英文 */
    'Noto Sans Traditional Chinese',  /* 中文 */
    serif;
  font-size: 18px;
  text-align: justify;
  line-height: 1.6;
}

.profile-pic {
  float: right;
  margin-left: 1.5em;
  width: 25%;
}

.profile-pic img {
  width: 100%;
  aspect-ratio: 1 / 1;   /* 保证正方形 */
  object-fit: cover;     /* 裁掉多余部分 */
  border-radius: 50%;    /* 圆形遮罩 */
}